*{
    padding: 0%;
    margin: 0%;
}
body{
    background-image: url("../pics/pic.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.container{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}
/* start nav */
nav{
    height: 20vh;
    /* padding-top: 50px; */
    display: flex;
    align-items: center;
    color: white;
    justify-content: space-between;
    width: 90%;
}
.navtext{
    font-size: 25px;
    letter-spacing: 2px;
}
span{
    color: rgb(241, 16, 73);
}
nav .navlinks ul li{
    display: inline-block;
    margin:0px 10px ;
}
nav .navlinks ul li a{
    color: white;
    text-decoration: none;
    font-size: 20px;
}
nav .navlinks ul li a:hover{
    color: rgb(241, 16, 73);
    border-bottom: 2px solid rgb(241, 16, 73);
    transition: 0.4s;
}
.subscribe a{
    padding: 10px;
    background-color: rgb(241, 16, 73);
    border-radius: 15px;
    text-decoration: none;
    color: white;
    border: 1px solid transparent;
    transition: .5s;
}
.subscribe a:hover{
    background-color: black;
    border: 1px solid rgb(241, 16, 73);
}
/* end nav */
/* start sec */
section{
    height: 80vh;
    color: white;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
section .discribe{
    width: 60%;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}
section .discribe h1, section .discribe h2, section .discribe h4{
    width: 60%;
}
section h2{
    margin-bottom: 20px;
}
section .discribe .trans{
    padding: 15px 10px;
    border-radius: 20px;
    border: 1px solid transparent;
    background-color: rgb(241, 16, 73);
    color: white;
    text-decoration: none;
    width: 50%;
    text-align: center;
}
section .discribe a:hover{
    background-color: black;
    border: 1px solid rgb(241, 16, 73);
    transition: .4s;
}
section .certificate{
    width: 30%;
    display: flex;
    justify-content: center;
}
section .certificate img{
    width: 80%;
    border-radius: 30px;
}
section .certificate img:hover{
    transform: scale(1.3);
    cursor: zoom-in;
    transition: .5s;
}
.navlink{
    display: none;
}
/* media */
@media screen and (max-width:575px) {
    .navlinks{
        display: none;
    }
    
    .subscribe{
        display: none;
    }
    .navlinks {
        display: none;
        width: 100%;
        height: 100%;
        background-color: rgb(44, 41, 41);
        position: fixed;
        z-index: 100;
        top: 0px;
        left: 0px;
    }
    .navlinks ul{
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }
    .navlinks ul li{
        
    }
    .navlinks a{
        color: white;
    }
    .navlinks.is-active{
        display: block;
    }
    section .discribe{
        margin-top: 20px;
        width:100%;
        display: flex;
        flex-direction: column;
        /* align-items: center; */
        justify-content: center;
        align-items: center;
    }
    .certificate{
        margin: 25px 0px;
        width: 200px;
    }
    .certificate img{
       min-width: 200px;
       border-radius: 30px;
    }
    .hamburger{
        display: block;
        /* background-color: aqua; */
        width: 50px;
        height: 50px;
        z-index: 101;
    }
    .hamburger div{
        width: 80%;
        height: 5px;
        background-color: white;
        margin: 7px 5px;
    }
}
@media screen and (min-width:576px) and (max-width:1332px) {
    .navlinks{
        display: none;
    }
    
    .subscribe{
        display: none;
    }
    .navlinks {
        display: none;
        width: 100%;
        height: 100%;
        background-color: rgb(44, 41, 41);
        position: fixed;
        z-index: 100;
        top: 0px;
        left: 0px;
    }
    .navlinks ul{
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }
    .navlinks ul li{
        
    }
    .navlinks a{
        color: white;
    }
    .navlinks.is-active{
        display: block;
    }
    section .discribe{
        margin-top: 20px;
        width:100%;
        display: flex;
        flex-direction: column;
        /* align-items: center; */
        justify-content: center;
        align-items: center;
    }
    .certificate{
        margin: 25px 0px;
        width: 200px;
    }
    .certificate img{
       min-width: 200px;
       border-radius: 30px;
    }
    .hamburger{
        display: block;
        /* background-color: aqua; */
        width: 50px;
        height: 50px;
        z-index: 101;
    }
    .hamburger div{
        width: 80%;
        height: 5px;
        background-color: white;
        margin: 7px 5px;
    }
}
@media screen and (max-width:350px) {
    .navtext{
        font-size: 20px;
    }
}
@media screen and (max-width:909px) and (min-width:576px) {
    .navlink ul{
        display: flex;
        list-style: none;
    }
    .navlink ul li{
        margin: 0px 5px;
    }
    .navlink ul li a{
        text-decoration: none;
        color: white;
        font-size: 15px;
    }
    .navtext h2{
        font-size: 20px;
    }
    .twitter{
        display: none;
    }
}
