*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}
body{
    background-image: url("../pics/pic.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Amiri', serif;
font-family: 'Dancing Script', cursive;
font-family: 'DynaPuff', cursive;
}
.container{
    margin-top: 100px;
    box-shadow: 10px 10px 20px  red;
    width: 275px;
    height: 500px;
    background-color: transparent;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.contact{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 68%;
}
.contact i{
    font-size: 50px;
}
.contact a{
    text-decoration: none;
}
.contact .word{
    color: white;
    font-size:25px;
    /* margin-left: 5px; */
}
.fa-square-facebook{
    color: rgb(11, 11, 253);
}
.fa-whatsapp{
    color: rgba(20, 233, 38, 0.87);
}
.fa-instagram{
    color: rgb(235, 13, 168);
}
.fa-pinterest{
    color: rgb(230, 36, 36);
}
.fa-envelope{
    color: rgb(158, 226, 70);
}
.fa-square-twitter{
    color: rgb(0, 119, 255);
}
.home{
    position: fixed;
    left:30px;
    bottom: 30px;
}
.home i{
    color: aqua;
    font-size: 30px;
}
